<section class="all-footer-section">
<section class="social">
    <a href="https://www.linkedin.com/in/yllen-fernandez-624827185/" target="_blank">
        <img src="../images/linkedin-logo-black.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/yllenfer" target="_blank">
        <img src="../images/Octicons-mark-github.svg" alt="GitHub">
    </a>
    <a href="https://dev.to/opensourceyllen" target="_blank">
        <img src="../images/devto.svg" alt="Dev.to">
    </a>
</section>
<p class="footer-p">~*~ Made with ♥ and too much Mountain Dew ~*~ &copy; 2006-forever ~*~</p>
</section>