<script type="module" src="../../js/main.js"></script>
<nav class="nav-all-things">
    <div class="logo-name">
        <a href="../index.html">Yllen Fernandez</a>
    </div>

    <!-- Hamburger Icon -->
    <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
        &#9776; <!-- Hamburger icon -->
    </a>

    <section class="nav-links" id="nav-links">
        <a href="../index.html">About me</a>
        <a href="../../pages/resume.html">Resume</a>
        <a href="../../pages/contact.html">Contact</a>
    </section>
</nav>
